*{
    padding:0;
    margin:0;
}
.top{
    background-color:cadetblue;
    height:45px;
    margin-top:-20px;
}
.title{
    text-align:center;
}
#add{
    float:left;
    height:45px;
    width:60px;
    margin-left: 5px;
}
/*添加按钮*/
.content{
    margin-top:10px;
}
.mission{
    border: 1px black solid;
}
/*任务*/
.status{
    float:left;
}
/*状态完成与否*/
/*.modify {*/
    /*/!*display:none;*!/*/
    /*background-color: blueviolet;*/
    /*width: 55%;*/
    /*height: 75%;*/
    /*z-index: 1000;*/
    /*float: left;*/
    /*position: absolute;*/
    /*left: 20%;*/
    /*top: 10%;*/
/*}*/